:root {
    --bs-primary: #your-color-here;
    --bs-body-bg: #your-background;
    --bs-body-color: #your-text-color;
    
}

.text-indent {
    text-indent: 2em;
}

.hero-logo {
    height: clamp(120px, 35vw, 260px);
    width: auto;
}