{%extends "base.html"%}

{% block title %}Community Riggers - Landing{% endblock %}

{% block content %}
<div class="text-center mt-5">
    <h1 class="display-1 fw-bold">Community Riggers</h1>
</div>

<div class="mt-4">
    <div class="lead mx-auto" style="max-width: 640px;">
        <p class="text-indent">
            Welcome to Community Riggers, a database of IATSE stage riggers based in the Bay Area and Greater Northern California
            Region. The database was created to help connect local riggers with business agents and call stewards to assist with the
            placement of qualified riggers needed for various productions in the area. The term "community riggers" refers to those
            riggers who work outside of their home local, who may be seen working at multiple venues anywhere between San Jose and
            Sacramento. This website is for them. They are an integral part of what makes the bay area the entertainment destination
            that it is. Without their incredible hustle and work ethic, there would surely be a shortage of qualified riggers for
            productions in the area. For this reason, it becomes hard to track availability of riggers across multiple IATSE locals.
            Someone may appear available in one local's database, but they may already be working with another local somewhere else.
            The aim of this site is to help address this challenge and provide a centralized resource for finding qualified riggers
            across all locals in the region.
        </p>
        <p class="text-indent">
            It is important to note that this database is 100% voluntary. If you would like to be included in the database,
            you must add yourself. Once added, it is up to you to keep your availability up-to-date. Once added, you will be given a
            personalized web address that you will need to bookmark. This will be where you can update your information and availability.
            You may periodically receive a text message or an email regarding your availability, but ultimately this system is only useful
            if you keep your availability as up to date as possible.
        </p>
        <p class="text-indent">
            Lastly, this is an independent project, and is not affiliated with any one IATSE local. It is not a substitute for keeping
            your availability updated with your home local or other unions. It is a tool designed to help fill last minute openings and
            unforeseen circumstances during unusually busy periods.
        </p>
        <p class="text-indent">
            Please direct all questions and inquiries to <a href="mailto:admin@communityriggers.org">admin@communityriggers.org</a>
        </p>
    </div>
</div>


{%endblock %}
